<?xml version="1.0"?>
<!--
/**
 * BotDoc_BotDoc extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       BotDoc
 * @package        BotDoc_BotDoc
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <BotDoc_BotDoc>
            <version>1.0.0</version>
        </BotDoc_BotDoc>
    </modules>
    <global>
        <blocks>
            <botdoc_botdoc>
                <class>BotDoc_BotDoc_Block</class>
            </botdoc_botdoc>
        </blocks>
        <helpers>
            <botdoc_botdoc>
                <class>BotDoc_BotDoc_Helper</class>
            </botdoc_botdoc>
        </helpers>
        <models>
            <botdoc_botdoc>
                <class>BotDoc_BotDoc_Model</class>
            </botdoc_botdoc>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <botdoc_botdoc>
                    <file>botdoc_botdoc.xml</file>
                </botdoc_botdoc>
            </updates>
        </layout>
        <events>
            <!--<adminhtml_widget_container_html_before>
                <observers>
                    <botdoc_requests>
                        <type>singleton</type>
                        <class>botdoc_botdoc/observer</class>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </botdoc_requests>
                </observers>
            </adminhtml_widget_container_html_before>-->
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <botdoc before="Mage_Adminhtml">BotDoc_BotDoc_Adminhtml</botdoc>
                        <frontName>botdoc</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>BotDoc_BotDoc</module>
                    <frontName>botdoc</frontName>
                </args>
            </routeurfrontend>
        </routers>
    </frontend>
    <default>
        <botdoc>
            <settings>
                <enabled>0</enabled>
                <sandbox>0</sandbox>
                <email></email>
                <api_key></api_key>
                <default_message>Hi {{customer.name}}, we from {{store.name}} need a picture of your ID to verify your order #{{order.number}}!</default_message>
                <default_subject>{{store.name}} need a documents regarding your order #{{order.number}}</default_subject>
            </settings>
        </botdoc>
    </default>
    
</config>
